<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/reg" method="post">
        用户名：<input type="text" name="uname"><br/>
        密码：<input type="password" name="pass"><br/>
        <input type="submit" name="sub" value="注册">
    </form>
<!--变量输出-->
    <!--想让li显示1，2，3，控制器渲染的时候，见user.js/reg   -->
    <!--<div>-->
        <!--<li><%= num%></li>-->
    <!--</div>-->
    <!--<div>-->
        <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>NAME</th>-->
        <!--</tr>-->
        <!--<% posts.forEach(function (post,index) { %>-->
        <!--<tr>-->
            <!--<td><%= post.id %></td>-->
            <!--<td><%= post.name %></td>-->
        <!--</tr>-->
        <!--<% }) %>-->
    <!--</div>-->
</body>
</html>