<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/reg" method="post">
        用户名：<input type="text" name="uname" id="u1"><br/>
        密码：<input type="password" name="pass"><br/>
        <input type="submit" name="sub" value="注册">
    </form>
    <!--是否加public，要看app.js里的入口文件-->
    <script src="javascripts/jquery.min.js"></script>
    <script>
        $('#u1').blur(function () {
            var name = $(this).val();
            $.post('/check',"uname="+name,function (data) {
                //console.log(data);
                if(data == 'success'){
                    $('#u1').after("<span id='s1'>用户名已存在</span>")
                }
                if(data == 'error'){
                    $('#s1').remove();
                }
            },'text');
        })
    </script>

</body>
</html>